<div class="col s12 m6 title">
	<h4>Your Pho Results...</h4>

</div>
<ul>
<div class="row">
	<% data.businesses.forEach(function(business) { %>

			 		<div class="col s4 m4">
		        <div class="card-panel white">
					<li>
						  <div class="photoName">
								<img src="<%= business.image_url %>" class="yelp-img">
									<h5><%= business.name %></h5>
							</div>
						<div class="row">
						 <div class="results">
<!-- 						 <p> <%= business.location.address %></p>
 -->									
 									<a href="<%= business.url %>">Yelp Business</a>
 									<p>"<%= business.snippet_text %>"
									<p>Phone: <%= business.display_phone %></p>
									<p>Number of Reviews:<%= business.review_count %></p>
									<p><img src="<%= business.rating_img_url_large %>" class="stars"></p>
				<form action="/result" method="POST">
									<div class="input-field"> 
										<div class="form-group">
											<input type="hidden" class="form-control" name="yelpID" value="<%= business.id %>">
											<input type="hidden" class="form-control" name="restName" value="<%= business.name %>">
											<input type="hidden" class="form-control" name="lat" value="<%= data.region.center.latitude %>">
											<input type="hidden" class="form-control" name="lng" value="<%= data.region.center.longitude %>">
										</div>
									</div>
									<p>
										<button type="submit" class="waves-effect waves-light btn-large" responsive><i class="material-icons">I'm going!</i></button>
									</p>
							</div>
						</div>
 				</form>
		 </li>
					</div>
				</div>
 <% }); %>
</div>
	</ul>
	