<div class="title">
	<h4>Your Pho Results... </h4>
</div>
<ul>
<div class="row">
	<% data.businesses.forEach(function(business) { %>
			 		<div class="col s4 m4">
		        <div class="card-panel teal">
					<li>

						 <div class="results">
							<div class="card-image">
								<img src="<%= business.image_url %>">
							</div>
									<h6><%= business.name %></h6>
									<p><a href="<%= business.url %>">Yelp Business</a></p>
									<p>Phone: <%= business.display_phone %></p>
									<p>Number of Reviews:<%= business.review_count %></p>
									<p><img src="<%= business.rating_img_url_large %>"></p>
									<button type="submit" class="waves-effect waves-light btn-large"><i class="material-icons">I'm going!</i></button>
				<form action="/result" method="POST">
									<div class="input-field"> 
										<div class="form-group">
											<input type="hidden" class="form-control" name="yelpID" value="<%= business.id %>">
											<input type="hidden" class="form-control" name="restName" value="<%= business.name %>">
											<input type="hidden" class="form-control" name="lat" value="<%= data.region.center.latitude %>">
											<input type="hidden" class="form-control" name="lng" value="<%= data.region.center.longitude %>">
										</div>
									</div>
 				</form>
							</div>
		 </li>
					</div>
				</div>
 <% }); %>
</div>
	</ul>
	